click==5.1
colorama==0.3.3
Django==1.9.2
django-appconf==1.0.2
django-environ==0.4.4
django-imagekit==4.0.1
django-polymorphic==1.0.1
django-tinymce==2.2.0
futures==3.0.5
gunicorn==19.4.5
Markdown==2.6.9
olefile==0.44
pilkit==2.0
Pillow==4.3.0
pinax-blog==6.3.1
pinax-cli==1.0.0
pinax-images==2.1.0
psycopg2==2.6.2
Pygments==2.2.0
python-dateutil==2.4.2
pytz==2017.3
requests==2.9.1
six==1.10.0
