{% extends 'mjrosengrant_com/base.html' %}

{% block title %}Welcome to my blog{% endblock %}

{% block content %}
  <div class="col-md-2">
    <div class="panel sidebar">
      <h3>Get At Me.</h3>
      <ul>
        <li><a href="http://blog.mjrosengrant.com">Main Blog</a></li>
        <li><a href="https://www.github.com/mjrosengrant">Github</a></li>
        <li><a href="https://www.linkedin.com/in/mjrosengrant">LinkedIn</a></li>
        <li><a href="https://www.soundcloud.com/mike-rosengrant-1">SoundCloud</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-10">
    <h1>MJR Labs</h1>
    {% for post in post_list %}
      <div class="panel post">
          <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
          {% include "pinax/blog/dateline.html" %}
          <div class="teaser">{{ post.teaser_html|safe }}</div>
          <p class="more"><a href="{{ post.get_absolute_url }}" class="post-link">read more...</a></p>
      </div>
      <hr>
    {% endfor %}
  </div>

{% endblock %}