<!DOCTYPE html>

<html >
    <head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	    <!-- Bootstrap -->
		<link rel="stylesheet" 
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" 
		integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" 
		crossorigin="anonymous">
	    
	    <title>MJR Labs</title>
    </head>
    <body>

    	<div class="container">
    		<h1>MJR Labs Homepage</h1>

    		<p>I'm currently in the middle of job hunting, and am seeking a postion as a software or data engineer. I have about a year's worth of experience using the Flask microframework, but most of the jobs I find are looking for Django Developers. The two frameworks are very similar, but I figured I could spend a weekend learning how to use Django.</p>

    		The code for this site is available on my Github <a href = "https://www.github.com/mjrosengrant/mjr_labs">here</a> There is a blog module, as well as a polling module.

		</div>

    </body>
</html>