{% extends 'blog/base.html' %}
{% block title %}Welcome to my blog{% endblock %}

{% block content %}
  <div class="col-md-2">
    <h3>Get At Me.</h3>
    <ul>
      <li><a href="http://blog.mjrosengrant.com">Main Blog</a></li>
      <li><a href="https://www.github.com/mjrosengrant">Github</a></li>
      <li><a href="https://www.linkedin.com/in/mjrosengrant">LinkedIn</a></li>
      <li><a href="https://www.soundcloud.com/mike-rosengrant-1">SoundCloud</a></li>
    </ul>
  </div>
  <div class="col-md-10">
    <h1>MJR Labs: </h1>

        {% if posts %}
          {% for post in post_list %}
            {# include "blog/post.html" with post=post #}
            {{ post.title }}
          {% endfor %}
        {% else %}
          <div id="default-post">
            <h2>Welcome to MJR Labs, my personal blog/ Lab notebook </h2>
            <p>July 16, 2017</p>
            
            <p>I am currently in the process of migrating my blog from a Wordpress site on GoDaddy, to a Django application hosted on Heroku. I have been a fan of Wordpress for a long time, but as a developer I need a platform that provides the flexibility and scalability of a full MVC framework.</p>

            <p>For a long time now, I've wanted to improve my skills as a writer. It's an important means of communication on the Internet, and the ability to write clearly and concisely will go a long way. Once I have a decent page for writing on my backend, I will be sharing random thoughts and opinions here. It feels important to me to use a custom built platform, as opposed to a large social media site like Facebook or Twitter. I'm an idealistic believer in the decentralized internet, and this is an example of me being the change I want to see in the world </p>

            <p>On top of being a writing platform, my plan is to treat this site as a technical sandbox. I like learning about different technologies and frameworks, and I need a space where I can quickly iterate on new projects.</p>

            <p>Check back regularly for updates</p>
          </div>

        {% endif %}
  </div>

{% endblock %}