body {
	font-family: 'Sans-serif';
	background-color: #437f97;
}

.post h2 a {
	color: #f08700;
}

p {
	font-size: 18px;
}

.panel {
	background-color: white;
	padding: 1rem 2rem 1rem 2rem;
}

.sidebar ul li {
	list-style-type: none;
	padding:0;
}